# --------------------------------------------------------------------------
# Systemd service Definition for ambieye.service.
#
# The service just starts the script /usr/local/sbin/ambieye.py
# Please edit /etc/ambieye.conf to configure the script.
#
# Author: Benjamin Fuchs
# License: GPL3
#
# Website: https://github.com/benjaminfuchs/ambieye
#
# --------------------------------------------------------------------------

[Unit]
Description=Master service for the led colors
After=multi-user.target

[Service]
Type=simple
User=ambieye
ExecStart=/usr/local/sbin/ambieye.py

[Install]
WantedBy=multi-user.target
