# --------------------------------------------------------------------------
# Systemd service Definition for nerdc.service.
#
# The service just starts the script /usr/local/sbin/nerdc.py
# Please edit /etc/nerd-colors.conf to configure the script.
#
# Author: Benjamin Fuchs
# License: GPL3
#
# Website: https://github.com/benjaminfuchs/nerdc
#
# --------------------------------------------------------------------------

[Unit]
Description=Master service for the led colors
After=multi-user.target

[Service]
Type=simple
User=nerdc
ExecStart=/usr/local/sbin/nerd-colors.py

[Install]
WantedBy=multi-user.target
